/* CSS RESET BEGIN */
* {
  box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
font-family: -apple-system, BlinkMacSystemFont,
 “Segoe UI”, “Roboto”, “Oxygen”,
 “Ubuntu”, “Cantarell”, “Fira Sans”,
 “Droid Sans”, “Helvetica Neue”, sans-serif;
 line-height: 1;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS RESET END */

/* SEARCH BAR */
.search-wrapper {
  display: flex;
  align-items: center;
  max-width: 360px;
  /* height: 2rem; */
  margin: 2rem auto;
  border-radius: 2rem;
  background-color: #eee;
}

.search-here-btn,
.search-city-btn {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}

.search-here-btn {
  background-image: url('../images/icon-pin.svg');
}

.search-city-btn {
  background-image: url('../images/icon-search.svg');
}

.search-input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 1rem;
}

.search-input:focus {
  outline: none;
}

/* WEATHER CARD */
.weather-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 480px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #eee;
}

.location-name {
  margin-top: 2rem;
  font-size: 2rem;
}

.weather-icon {
  width: 6rem;
  height: 6rem;
  margin-top: 2rem;
  background-image: url('../images/01d.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

}

.temperature {
  margin-top: 2rem;
  font-size: 3rem;
}

.weather-description {
  margin-top: 1rem;
  text-transform: uppercase;
}

.min-max-wrapper {
  margin-top: 2rem;
}

.min-icon,
.max-icon {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.min-icon {
  background-image: url('../images/icon-arrow-down.svg');
}

.max-icon {
  background-image: url('../images/icon-arrow-up.svg');
}

.min-temperature,
.max-temperature {
  font-size: 2rem;
}

/* LOADER */
.loader {
  display: none;
  justify-self: center;
  align-self: center;
  border: 16px solid #fff;
  border-top: 16px solid #0af;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

.display {
  display: block;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* UNIT SWITCH */
.switch-wrapper {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60px;
}
.unit-c, .unit-f {
  /* font-weight: bold; */
  color: #ccc;
}
.active-unit {
  color: #0af;
}
 /* The switch - the box around the slider */
 .unit-switch {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 1rem;
}

/* Hide default HTML checkbox */
.unit-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: .2s;
}

/* Slider selected */
.slider:before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  left: 4px;
  bottom: 3px;
  border-radius: 50%;
  background-color: #ccc;
  transition: .2s;
}

.unit-checkbox:checked + .slider:before {
  transform: translateX(14px);
}
